.card {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 330px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 20px black;
  color: var(--text-color);
  transition: 0.4s ease;
  margin: 15px;

  /* border: 4px solid transparent; */
  cursor: pointer;
}
.img {
  background-size: cover;
  object-fit: cover;
  background-position: top;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  /* border: 1px solid var(--boton-bg-hover-color); */
  border-radius: 10px;
  position: relative;
  transition: 0.3s ease;
}
.cardBody {
  position: absolute;
  border: none;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  background-color: transparent;
  text-align: center;
  /* border: 2px solid var(--boton-bg-hover-color); */
}
.nombre {
  background-color: rgba(31, 44, 161, 0.5);
  width: 210px;
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 50%;
  color: rgb(227, 227, 227);
  font-family: "Sansita", sans-serif;
  padding-bottom: 5px;
  text-shadow: 2px 2px 2px rgb(5, 5, 5);
  transition: 0.3s ease;
  border-radius: 10px 10px 0 0;
}
.span2 {
  position: absolute;
  text-align: center;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  top: 250px;
  width: 100px;
  font-family: "Sansita", sans-serif;
  left: 0px;
  margin-left: 5px;
  font-size: 20px;
  background-color: rgb(255, 0, 170, 0.5);
  text-shadow: 2px 2px 2px rgb(1, 1, 1);
  border-radius: 84% 16% 91% 9% / 28% 66% 34% 72%;
  font-weight: bold;
}
.span3 {
  position: absolute;
  text-align: center;
  margin-bottom: 5px;
  font-family: "Sansita", sans-serif;
  color: rgb(255, 255, 255);
  top: 250px;
  left: 110px;
  width: 80px;
  margin-left: 5px;
  font-size: 20px;
  background-color: rgb(255, 0, 170, 0.5);
  text-shadow: 2px 2px 2px rgb(1, 1, 1);
  border-radius: 84% 16% 91% 9% / 28% 66% 34% 72%;
  font-weight: bold;
}
.span4 {
  position: absolute;
  text-align: center;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  top: 290px;
  width: 80px;
  font-family: "Sansita", sans-serif;
  left: 0px;
  margin-left: 5px;
  font-size: 20px;
  background-color: rgb(255, 0, 170, 0.5);
  text-shadow: 2px 2px 2px rgb(1, 1, 1);
  border-radius: 84% 16% 91% 9% / 28% 66% 34% 72%;
  font-weight: bold;
}
.span5 {
  position: absolute;
  text-align: center;
  margin-bottom: 5px;
  font-family: "Sansita", sans-serif;
  color: rgb(255, 255, 255);
  top: 290px;
  left: 110px;
  width: 80px;
  margin-left: 5px;
  font-size: 20px;
  background-color: rgb(255, 0, 170, 0.5);
  text-shadow: 2px 2px 2px rgb(1, 1, 1);
  border-radius: 84% 16% 91% 9% / 28% 66% 34% 72%;
  font-weight: bold;
}
.divEstad {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: start;
  align-items: center;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px rgb(255, 255, 255);
}
.card .img:hover {
}

.buttonFav {
  position: absolute;
  font-size: 25px;
  right: 9px;
  top: 3px;
  border: none;
  background: none;
  text-shadow: 1px 1px 1px rgb(27, 27, 27);
}
.icon {
  color: red;
}
.bandaLateral {
  display: flex;
  position: absolute;
  width: 110px;
  height: 18px;
  justify-content: center;

  transform: rotate(-45deg);
  top: 20px;
  left: -25px;
  background-color: rgb(7, 196, 0);
  clip-path: polygon(19.5% 0%, 79% 0%, 95.5% 100%, 3% 100%);
  border: 1px solid rgb(14, 119, 0);
}
.span1 {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}
.bandaLateral::before {
  content: "Libre";
  font-size: 14px;
  font-weight: bold;
}
.bandalateralFalse {
  content: "Contratado";
  display: flex;
  position: absolute;
  width: 110px;
  height: 18px;
  justify-content: center;
  transform: rotate(-45deg);
  top: 20px;
  left: -25px;
  background-color: rgb(196, 0, 0);
  clip-path: polygon(19.5% 0%, 79% 0%, 95.5% 100%, 3% 100%);
  border: 1px solid rgb(119, 0, 0);
}
.bandalateralFalse::before {
  content: "Contratado";
  font-size: 14px;
  font-weight: bold;
}
