.botForm {
    background: rgb(53, 53, 53);
  
    font-family: "Josefin Sans";
    color: #ff0000;
    border-color: #ff0034;
    text-align: center;
    justify-content: center;
  }
  
  .botForm:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(250, 30, 30) 0%, rgb(171, 0, 0) 20%);
    color: #ffffff;
  }
  .imgForm {
    width: 300px;
  }
  .containerForm {
    align-items: center;
    text-align: center;
  }
  .bordeForm {
    margin-top: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: #ff0000;
    width: auto;
    width: 60%;
    padding: 10px;
  }
  