@import url("https://fonts.googleapis.com/css2?family=Sansita&family=Sedgwick+Ave+Display&display=swap");

.containerGral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 495px;
  width: 100%;
}
.contenedorTitulos {
  display: flex;
  flex-direction: column;
  width: 544px;
  height: 191px;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.titulo {
  color: var(--text-color);
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 75px;
  text-shadow: 2px 20px 5px rgba(0, 0, 0), 0px 0px 15px rgb(255, 255, 255);
}
.subTitulo {
  color: var(--text-color1);
  font-family: "Sansita", sans-serif;
  font-size: 40px;
  text-shadow: 2px 20px 5px rgba(0, 0, 0), 0px 0px 15px rgb(255, 255, 255);
}
@media (max-width: 520px) {
  .contenedorTitulos {
    width: 400px;
    height: 391px;
  }
  .contenedorTitulos:hover {
    width: 404px;
    height: 394px;
  }
  .containerGral {
    height: 600px;
  }
}
